html{scroll-behavior:smooth;}

body{margin:0px; padding:0px; font-family:arial;color:#333a45;}

nav{width:100%; background:white; overflow:hidden; position:fixed; top:0;  box-shadow: 0px 8px #e6e8eb; font-size:20px;}

ul{padding:0; marign:0; list-style:none;}

li{float:right;}

ul li a:hover{color:black;text-decoration:underline #484b52;}

a{padding:10px; width:100%; display:block; text-decoration:none; color:gray; text-transform:uppercase; font-weight:bold;}

#home{height:700px;background:linear-gradient(to bottom, rgba(0, 0, 0,0.9), rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.7), rgba(0,0,0,1)), url(back2.jpg)no-repeat; width:100%;background-size:cover;color:white;font-family:sans-serif;}

#about{margin-top:0px;height:60%;display:inline-black; width:100%;box-sizing: border-box;}

#menu{margin-top:0px;height:700px; display:inline-black; width:100%;}

/*#gallery{width: 100%;padding:100;margin-top:150px;height:700px;display:inline-black;;box-sizing: border-box;}*/

#reservation{height:110%; display:inline-black; width:100%; background:linear-gradient(to bottom, rgba(0, 0, 0,0.9), rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.7), rgba(0,0,0,1)),url(back2.jpg);color:white;font-family:sans-serif;}

.image-sizing{width:268px;height:168px;}

#contact{height:700px; display:inline-black; width:100%; background:linear-gradient(to bottom, rgba(0, 0, 0,0.9), rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.7), rgba(0,0,0,1)),url(side1.jpg);color:white;font-family:sans-serif;margin-top:100px}

.f-con{width:400px;background:transparent;border:0px;outline:none;border-bottom-style:solid;border-bottom-color:gray;border-bottom-width:medium;color:white;font-size:18px;}

/*#f{transition:all 4s ease-in-out;margin-top:0px;}*/

input{height:50px;}

.f-sub{width:600px;background:transparent;border-radius: 12px;border:0px;outline:none;color:white;font-size:18px;margin-bottom:16px;background:white;color:black;border:none;outline:none;font-weight:bolder;margin-top:30px;letter-spacing:2px;}

.f-sub:hover{color:orange;cursor:pointer;}

::placeholder {color: White;opacity: 1;}

.d-sub{width:200px;background:transparent;border-radius: 12px;color:white;font-size:18px;margin-bottom:16px;border: 5px solid #fff;outline:none;font-weight:bolder;margin-top:30px;letter-spacing:2px;}

.d-sub:hover{color:orange;cursor:pointer;}
